.App {
  text-align: center;
  color: #939393;
  padding: 120px 0;
}

.App h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.App p {
  font-weight: 500px;
  font-size: 18px;
  letter-spacing: 0.2px;
  margin-top: 28px;
}

.App a {
  color: #939393;
}

/* Playground component */
.playground {
  color: #fff;
  margin-bottom: 50px;
}

/* Topic details component */
.topic-details {
  width: 450px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 16px 16px 30px 0 rgba(0,0,0,0.4);
}

.topic-details p {
  text-align: center;
}

/* Topics Component */
.topics {
  width: 380px;
  margin: auto;
}

.topics button {
  color: #939393;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.2px;
  line-height: 38px;
  font-weight: 500;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  display: block;
  padding: 0 20px;
  background: transparent;
  width: 300px;
}

.topic-number {
  position: absolute;
  top: -100px;
  left: 150px;
  display: block;
  font-family: "Geomanist","Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 254px;
  color: rgba(255,255,255,0.04);
  letter-spacing: 2.2px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

