body {
  margin: 0;
  padding: 0;
  font: 500 16px/1.4 "Circular Std",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #272727;
}
